node_modules/
dist/
src/assets/

.eslintrc.yaml

.gitignore

.prettierc.yaml
.prettierignore

index.html

package.json
package-lock.json

tsconfig.json
tsconfig.build.json

vite.config.ts

# Not in root directory
*.module.scss.d.ts
*.module.scss