// ** Text ** //
$textColor: rgb(255, 255, 255);

// ** Background ** //
$primaryBackground: rgb(45, 45, 45);

// ** Misc ** //
$accentColor: #b68d3f;
$accentColorFocused: #214a98; // Complimentary color for visual feedback
$accentColorDisabled: #4d4d4d;
$accentColorInvalid: rgb(255, 90, 90);
