@use '../../styles/include_me' as *;

.app {
    width: 100%;
    height: 100%;
    background-color: $primaryBackground;

    display: grid;
    justify-content: center;
    align-items: end;
    gap: 2rem;

    padding: 1rem;
}
