@font-face {
    font-family: 'Caskaydia Cove Nerd Font';
    src:
        local('Caskaydia Cove Nerd Font'),
        url('../fonts/CaskaydiaCoveNerdFont-Regular.ttf') format('truetype');
}

* {
    font-family: 'Caskaydia Cove Nerd Font';
    box-sizing: border-box;
}

// No more vh, vw, and random margins
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
}
